### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.env
.idea/
target/
*.iml
ProjectBoard.txt
identifier.sqlite

### Mac OS ###
.DS_Store

### Database Files ###
*.db
*.sqlite
*.sqlite3